In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
# Load the dataset
house_data = pd.read_csv('house-prices.csv')

In [14]:
# Extracting features (X) and target variable (y)
with_home = house_data.drop(columns=['Price'])  
X=with_home.drop(columns=['Home']) # Features excluding 'Price'
y = house_data['Price']  # Target variable 'Price'

In [15]:
X

     SqFt  Bedrooms  Bathrooms  Offers
0    1790         2          2       2
1    2030         4          2       3
2    1740         3          2       1
3    1980         3          2       3
4    2130         3          3       3
..    ...       ...        ...     ...
123  1900         3          3       3
124  2160         4          3       3
125  2070         2          2       2
126  2020         3          3       1
127  2250         3          3       4

[128 rows x 4 columns]

In [16]:
# Splitting the dataset into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Creating and training the Multiple Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [18]:
# Making predictions on the test set
y_pred = model.predict(X_test)

In [19]:
# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared Score: {r2}')

Mean Squared Error: 253234019.17359683
R-squared Score: 0.5703520599694543

Hence Model is not good

In [21]:
# Example: Predicting house price for a new data point
new_data_point = np.array([[1500, 2, 2,2]])  # Example features (e.g., size, bedrooms, bathrooms, garage, pool)
predicted_price = model.predict(new_data_point)
print(f'Predicted Price for new data point: ${predicted_price[0]}')

Predicted Price for new data point: $89478.6772954014

c:\Users\syada11\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(